/* Ensuring modal overlay is correctly stacked */
.popup-root {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/* Styling for the modal content with higher specificity */
div.popup-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1050;
}

/* Specific button styling to ensure they are styled correctly */
button.observation-button {
  background-color: #1D2D45;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 6px;
  font-size: smaller;
  font-weight: 600;
  min-height: 30px; 
}

button.observation-button:hover,
button.observation-button:focus,
button.observation-button:active {
  background-color: #163356;
}

/* Specific form container adjustments */
div.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Error styling for feedback with increased visibility */
span.p-error {
  color: #ff3333;
  font-size: 0.8em;
}

/* Styling for invalid input fields */
.p-invalid .p-inputtext {
  border-color: #ff3333;
}

/* Z-index fix for dropdown panels to ensure they are on top */
.p-multiselect-panel {
  z-index: 1100 !important;
}

/* Default styling for primary buttons */
.p-button-primary {
  background-color: #1D2D45;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 6px;
  font-size: smaller;
  font-weight: 600;
  min-width: 60px; 
}

.p-button-primary:hover {
  background-color: #e1e1e1; /* Slightly darker on hover */
}

.p-button-primary:active {
  background-color: #d0d0d0; /* Even darker when active */
}

/* Default styling for secondary buttons */
.p-button-secondary {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 6px;
  font-size: smaller;
  font-weight: 600;
  min-width: 60px;
}

.p-button-secondary:hover {
  background-color: #e1e1e1; /* Slightly darker on hover */
}

.p-button-secondary:active {
  background-color: #d0d0d0; /* Even darker when active */
}

.card {
  margin-top: 20px;
  margin-bottom: 20px; /* Adds space below each card */
  /* padding: 10px;       Optional: Adds space inside each card */
}

.card .activity-container {
  margin-bottom: 0; /* Assuming 'activity-container' is a class you add to the div containing the Activity input */
}



