.table-headers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.all-observations-title {
  margin-right: 0;
}

.all-observations-number {
  /* margin: 0 10px; */
  margin-right: auto !important;
  margin-left: 10px !important;
  margin-top: 6px !important;
  font-weight: normal !important;
  color: rgba(131, 131, 131, 1) !important;
  font-size: medium !important;
}

.new-observation-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 10px; 
  font-size: 13px; 
  height: 20px; 
  width: auto;  
}

.new-observation-button button span {
  margin: auto;
}