/* Table area styles */
.table-area {
  border-radius: 10px;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  box-shadow: 0px 2px 9px 0px rgba(119, 119, 119, 0.15);
}

/* Header and body cell styles */
.table-area .p-datatable .p-datatable-thead > tr > th,
.table-area .p-datatable .p-datatable-tbody > tr > td {
  white-space: nowrap;
  min-width: 100px;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid rgba(213, 218, 226, 1);
  user-select: text;
}

/* Gridline visibility */
.table-area .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th,
.table-area .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  border-right: 1px solid rgba(213, 218, 226, 1);
}

/* Hover effect for rows */
.table-area .p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}

/* Smooth transition for hover effects */
.table-area .p-datatable .p-datatable-tbody > tr {
  transition: background-color 0.3s ease;
}

/* Selection and hover differentiation */
.table-area .p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: #e9ecef;
}

/* Hover effect for column headers */
.table-area .p-datatable .p-datatable-thead > tr > th:hover {
  background-color: #f0f0f0; /* Lighter gray for hover */
  cursor: pointer; /* Indicates the header is clickable */
}

/* Smooth transition for header hover effects */
.table-area .p-datatable .p-datatable-thead > tr > th {
  transition: background-color 0.2s ease;
}

.table-area .p-datatable .p-datatable-tbody > tr:not(.p-highlight):hover {
  background-color: #f3f4f6;
}

.custom-tag {
  padding: 5px 10px;
  background-color: #074991;
  color: white;
  font-size: 10px;
  font-weight: 500;
  border-radius: 15px;
  margin-right: 8px;
  margin-bottom: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.p-dialog .p-dialog-footer {
  border-top: none;  
}

.report-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f4f4f4; /* Light grey background */
  border: 1px solid #ccc; /* Border for the container */
}

.report-row {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to next line on small screens */
  align-items: center;
  margin-bottom: 10px; /* Adds space between rows */
}

.label-value-pair {
  margin-right: 20px; /* Space between label-value pairs */
  white-space: nowrap; /* Prevents wrapping within label-value pairs */
}

.label {
  font-weight: bold;
  color: #2500f58e; /* dark gray */
}

.value {
  color: #666; /* lighter gray */
  text-align: right;
}

.custom-button {
  background-color: #09223a; /* Green */
  color: rgb(255, 255, 255);
}

/* Custom CSS for ConfirmDialog */
.p-confirm-dialog {
  width: 60vw; /* Set to 60% of the viewport width */
  max-width: none; /* Override any maximum width constraints */
  padding: 20px; /* More internal space */
  background-color: #fffefe; /* Dark background for contrast */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Stronger shadow for emphasis */
}

.p-confirm-dialog .p-confirm-dialog-message {
  font-size: 16px; /* Larger text for better readability */
  font-weight: bold; /* Make the text bold */
}

.p-confirm-dialog .p-button {
  border-radius: 20px; /* Rounded buttons */
  padding: 10px 20px; /* More padding for a better button feel */
}

.p-confirm-dialog .p-button-yes {
  background-color: #007bff; /* Blue color for 'Yes' button */
  border-color: #007bff;
  color: white;
}

.p-confirm-dialog .p-button-no {
  background-color: #f44336; /* Red color for 'No' button */
  border-color: #f44336;
  color: white;
}

.p-confirm-dialog .p-confirm-dialog-icon {
  color: #ffa726; /* Change icon color */
  font-size: 24px; /* Larger icon */
}

/* Styles for the action buttons */
.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-button {
  margin: 0 2px; /* Adjust spacing between buttons */
  border-radius: 50%; /* Make buttons round */
  width: 30px; /* Fixed width */
  height: 30px; /* Fixed height */
  padding: 0; /* Remove padding */
}

.custom-export-button {
  background-color: #4dcf97; /* Green background */
  color: rgb(255, 255, 255); /* White text color */
  border: grey; /* No border */
}